#header_text {
    padding-left: 50px;
    margin-bottom: 20px;
    color: #eee;
    text-align: left;
    background-color: rgb(61, 175, 150);
}

#nav-item-dropdown {
    color: grey;
    font-size: 15px;
}

.body_container {
    background-color: rgb(223, 221, 221);
    padding-right: 30px;
    padding-left: 30px;
    margin-right: 20px;
    margin-left: 20px;
    }

#summary_title {
    font-size: 28px;
    color: rgb(61, 175, 150);
    text-align: left;   
}

#summary {
    color: grey;
    text-align: left;
    font-size: 15px;
}

#temp-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }

#temp-image {
    float: left;
  }

.col-md-8 {
    background: white;
    padding-right: 10px;
    padding-left: 10px;
}

.col-md-4 {
    background: white;
    padding-right: 10px;
    padding-left: 10px;
}

.temp_row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .temp_column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .temp_column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
   .temp_column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .temp_column {
      flex: 100%;
      max-width: 100%;
    }
  }